@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <h1 class="display-4">Welcome</h1>
    <p>This is an admin zone. You have access to every module of the application.</p>
    <p>Feel free to create, update or eliminate anything you want. but keep it safe, do not go nuts!</p>
</div>
