@{
    ViewData["Title"] = "Te queremos Yoimer";
}
<div class="d-flex gap-5 mt-5 flex-column justify-content-center align-items-center">
    <h1>@ViewData["Title"]</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwrT7sVAo12y36x-CDcUsGNli5imkbAfAQJg&s" alt="Jesus riding a t-rex" class="rounded-2" />
</div>

